.basicScreen {
  padding-bottom: 100px;
  word-break: break-word;
}


.accordion-title {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
#light .accordion-title--selected {
  color: #9a6413;
}
#light .accordion-title--default {
  color: #005c73;
}
#dark .accordion-title--selected {
  color: #E7B06D;
}
#dark .accordion-title--default {
  color: #ededed;
}



.accordion-content {
  padding: 20px 0 40px;
  border-bottom: 1px solid #ccc;
}
.accordion-content--show {
  display:block;
}
.accordion-content--hidden {
  display: none;
}
.accordion-content ul, .accordion-content ol {
  padding: 5px 0;
}
.accordion-content ul ul, .accordion-content ol ol {
  margin-left: 20px;
  padding:0;
}
.accordion-content ul p, .accordion-content ol p {
  font-weight:bold;
}
.accordion-content li {
  margin-left: 20px;
  padding-bottom: 5px;
}
.accordion-content--img img{
  width: 100%;
  display: block;
  padding-top: 10px;
}
.accordion-content table {
  table-layout: auto;
  border: 1px solid #ccc;
  min-width: 100%;
  font-size: 0.8em;
}
.accordion-content table td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-collapse: collapse;
}
.accordion-content table tr:last-child td {
  border-bottom: none;
}
.accordion-content table td:last-child{
  border-right: none;
}



.accordion-content--reference {
  font-size: 0.8em;
  font-style: italic;
}



.basicScreen__bottomFill {
  height: 100px;
}